<li class="user-card">
    <img src="data:image/png;base64,@Model.UserCard.ProfilePicture" alt="@Model.UserCard.Login's profile picture">
    <div class="login">@Model.UserCard.Login</div>
    <div id="album-rotator">
        <div id="album-rotator-holder">
            @{
                foreach (var game in Model.UserCard.Games)
                {
                    <div target="_top" class="album-item">
                        <span class="album-details">
                            <img src="@game.Logo" alt="@game.Name's logo">
                            <span class="title">@game.Name</span>
                        </span>
                    </div>
                }
            }
        </div>
    </div>
    <div>

    </div>
</li>