@page
@using LinkGeek.Pages.Shared
@model LinkGeek.Areas.ProfileCard.Pages.ProfilePageModel

@{
    ViewData["Title"] = "My Profile Card";
}
@await Html.PartialAsync("_UserCardPartial", new UserCardModel(@Model.ApplicationUser, true))

<div class="modal fade" id="locationChange" tabindex="-1" role="dialog" aria-labelledby="locationChangeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationChangeLabel">Change location</h5>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-url="@Url.Action("UpdateLocation", "User")"
                  data-ajax-mode="replace"
                  data-ajax-update="#userLocation">
                <div class="modal-body">
                    <input type="text" name="location" maxlength="256" value="@Model.ApplicationUser.Location" style="width: 100%"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" data-bs-dismiss="modal">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="statusChange" tabindex="-1" role="dialog" aria-labelledby="statusChangeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusChangeLabel">Change status</h5>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-url="@Url.Action("UpdateStatus", "User")"
                  data-ajax-mode="replace"
                  data-ajax-update="#userStatus">
                <div class="modal-body">
                    <input type="text" name="status" maxlength="256" value="@Model.ApplicationUser.Status" style="width: 100%"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" data-bs-dismiss="modal">
                </div>
            </form>
        </div>
    </div>
</div>