@using MudBlazor

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="card">
        @if (@Game.Logo != null)
        {
            <img class="card-img-top" src="@Game.Logo" alt="@Game.Name's cover">
        }
        else
        {
            <img class="card-img-top" src="/Content/Images/DefaultGamePic.png" alt="default game pic"/>
        }
        <div class="card-body">
            <a class="card-title" href="/game/@Game.Id"> @Game.Name </a>
        </div>
        @if (!_isGameInLibrary)
        {
            <button onclick="@(new Func<object, Task>(e => AddGame(@Game.Id)))" class="btn btn-primary">Add game</button>
        }
        else
        {
            <button onclick="@(new Func<object, Task>(e => RemoveGame(@Game.Id)))" class="btn btn-remove">Remove game</button>
        }
        @if (@DisplayGamePageButton)
        {
            <a href="/game/@Game.Id" class="btn btn-secondary">Open game page</a>
        }
    </div>
}