@using MudBlazor

<div class="widget-post">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    @if(@post.ApplicationUser.ProfilePictureContentType != null)
                    {
                        <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")">
                            <MudAvatar Image="@GetImageSrc(@post.ApplicationUser)" Size="Size.Large"/>
                        </MudLink>
                    }
                    else
                    {
                    <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")"></MudLink>
                            <MudAvatar Color="Color.Primary" Size="Size.Large">@post.ApplicationUser.UserName[..1]</MudAvatar>
                    <MudLink/>
                    }
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudLink Href="@($"game/{post.Game?.Id}")">
                        <MudText Typo="Typo.body1">@post.Game?.Name</MudText>
                    </MudLink>
                    <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")">
                        <MudText Typo="Typo.body2">@post.ApplicationUser?.UserName at @post.CreatedAt"</MudText>
                    </MudLink>
                </CardHeaderContent>
            </MudCardHeader>
            @if (@post.Game != null)
            {
                <MudLink Href="@($"game/{post.Game?.Id}")">
                    <MudCardMedia Image="@post.Game.Logo?.AbsoluteUri"/>
                </MudLink>
            }
            <MudCardContent>
                <MudText Typo="Typo.body2">@post.Content</MudText>
                @if (@post.LookingFor != null && @post.PlayingAt != null)
                {
                    <MudText Typo="Typo.body2">
                        Looking for @post.LookingFor at @post.PlayingAt
                    </MudText>
                } else if (@post.LookingFor != null)
                {
                    <MudText Typo="Typo.body2">
                        Looking for @post.LookingFor
                    </MudText>
                } else if (@post.PlayingAt != null)
                {
                    <MudText Typo="Typo.body2">
                        Playing at @post.PlayingAt
                    </MudText>
                }
            </MudCardContent>
            <MudCardActions>
                @if (isLiked)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" OnClick="() => Like(post)"> </MudIconButton>
                } else
                {
                    <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Default" OnClick="() => Like(post)"> </MudIconButton>
                }
                <div class="like">@post.Likes.Count</div>
                <MudIconButton Icon="@Icons.Material.Filled.Share" OnClick="CopyShareLinkToClipboard" Color="Color.Default"/>
            </MudCardActions>
            <hr/>
            <CommentPartial Post="@post" ParentRefreshFunction="this.RefreshPost"/>
            <MudCardContent>
                @foreach(var comment in post.Comments)
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                @if(@comment.ApplicationUser.ProfilePictureContentType != null)
                                {
                                    <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")">
                                        <MudAvatar Image="@GetImageSrc(@comment.ApplicationUser)" Size="Size.Small"/>
                                    </MudLink>
                                }
                                else
                                {
                                    <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")">
                                        <MudAvatar Color="Color.Primary" Size="Size.Small">@comment.ApplicationUser.UserName[..1]</MudAvatar>
                                    </MudLink>
                                }
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudLink Href="@($"profile/{post.ApplicationUser.UserName}")">
                                    <MudText Typo="Typo.body1">@comment.ApplicationUser?.UserName at @comment.CreatedAt</MudText>
                                </MudLink>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.body2">@comment.Text</MudText>
                        </MudCardContent>
                    </MudCard>
                }
            </MudCardContent>
        </MudCard>
    </div>