@using MudBlazor
@using LinkGeek.Models

<div class="wrapper">
    <div class="profilePictureBackground">
        <div class="profilePicture">
            <a href="/profile/@DisplayedUser?.UserName">
                @if (@DisplayedUser?.ProfilePictureContentType == null)
                {
                    <img src="/Content/Images/DefaultProfilePic.jpg" alt="Default Profile picture"/>
                }
                else
                {
                    <img src="@GetImageSrc()" alt="Profile picture"/>
                }
            </a>
        </div>
    </div>

    <div class="profileSpecifications">
        <h1> <a href="/profile/@DisplayedUser?.UserName">@DisplayedUser?.UserName</a> </h1>
        <p2>
            @if (@IsCurrentUser)
            {
                var location = @DisplayedUser?.Location ?? "Help people find you!";
                <span id="userLocation">@location</span>
                <button id="locationPencil" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationChange">
                    <i class="bi-pencil"></i>
                </button>
            }
            else
            {
                var location = @DisplayedUser?.Location ?? "Unknown location";
                <span id="userLocation">@location</span>
            }
        </p2>

        <p>
            @if (@IsCurrentUser)
            {
                var status = @DisplayedUser?.Status ?? "Let people know what you're up to!";
                <span id="userStatus">@status</span>
                <button id="statusPencil" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statusChange">
                    <i class="bi-pencil"></i>
                </button>
            }
            else
            {
                var status = @DisplayedUser?.Status ?? "";
                <span id="userStatus">@status</span>
            }
        </p>

        <div class="gameInterests">
            @if (@DisplayedUser?.Games == null || @DisplayedUser?.Games?.Count == 0)
            {
                <p> No games added </p>
            }
            else
            {
                @foreach (var game in @DisplayedUser?.Games)
                {
                    <a href="/game/@game.Id" class="feature">
                        <div class="featureIcon">
                            <img src="@game.Logo" alt="@game.Name's logo"/>
                        </div>
                        <div class="featureText">
                            <p>@game.Name</p>
                        </div>
                    </a>
                }
            }
        </div>
        
        @if (!@IsCurrentUser)
        {
            @if (AreCurrentlyFriends())
            {
                <button @onclick="RemoveFriend" class="action-button remove-friend">
                    <p>Remove friend</p>
                    <div class="arrow">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                                  fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else if (FriendRequestSent())
            {
                <button @onclick="CancelFriendRequest" class="action-button cancel-friend">
                    <p>Cancel friend request</p>
                    <div class="arrow">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                                  fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else if (FriendRequestReceived())
            {
                <button @onclick="AddFriend" class="action-button accept-friend">
                    <p>Accept friend request</p>
                    <div class="arrow">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                                  fill="currentColor" />
                        </svg>
                    </div>
                </button>
                <button @onclick="DeclineFriendRequest" class="action-button cancel-friend">
                    <p>Decline friend request</p>
                    <div class="arrow">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                                  fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else
            {
                <button @onclick="AddFriend" class="action-button add-friend">
                    <p>Add friend</p>
                    <div class="arrow">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                                  fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
        }
        
    </div>
</div>