@using MudBlazor

<div class="wrapper">
    <div class="profilePictureBackground">
        <div class="profilePicture">
            @if (@User?.ProfilePictureContentType == null)
            {
                <img src="/Content/Images/DefaultProfilePic.jpg" alt="Default Profile picture">
            }
            else
            {
                <img src="@GetImageSrc()" alt="Profile picture">
            }
        </div>
    </div>

    <div class="profileSpecifications">
        <h1> @User?.UserName </h1>
        <p2>
            @if (@IsCurrentUser)
            {
                var location = @User?.Location ?? "Help people find you!";
                <span id="userLocation">@location</span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationChange">
                    <i class="bi-pencil"></i>
                </button>
            }
            else
            {
                var location = @User?.Location ?? "Unknown location";
                <span id="userLocation">@location</span>
            }
        </p2>

        <p>
            @if (@IsCurrentUser)
            {
                var status = @User?.Status ?? "Let people know what you're up to!";
                <span id="userStatus">@status</span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statusChange">
                    <i class="bi-pencil"></i>
                </button>
            }
            else
            {
                var status = @User?.Status ?? "";
                <span id="userStatus">@status</span>
            }
        </p>

        <div class="gameInterests">
            @if (@GetGames().Result.Count == 0)
            {
                <p> No games added </p>
            }
            else
            {
                @foreach (var game in @GetGames().Result)
                {
                    <a href="/game/@game.Id" class="feature">
                        <div class="featureIcon">
                            <img src="@game.Logo" alt="@game.Name's logo" />
                        </div>
                        <div class="featureText">
                            <p>@game.Name</p>
                        </div>
                    </a>
                }
            }
        </div>
        
        @if (!@IsCurrentUser)
        {
            @if (!(AreCurrentlyFriends() && AreCurrentlyPendingFriends() && IsAdded()))
            {
                <button class="add">
                    <p>Add friend</p>
                    <div class="addFriend">
                        <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                          fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else if (@AreCurrentlyFriends() && !@AreCurrentlyPendingFriends() && !@IsAdded())
            {
                <button class="remove">
                    <p>Remove friend</p>
                    <div class="removeFriend">
                        <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                          fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else if (!@AreCurrentlyFriends() && @AreCurrentlyPendingFriends() && !@IsAdded())
            {
                <button class="cancel">
                    <p>Cancel friend request</p>
                    <div class="cancelFriendRequest">
                        <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                          fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
            else if (!@AreCurrentlyFriends() && !@AreCurrentlyPendingFriends() && @IsAdded())
            {
                <button class="accept">
                    <p>Accept friend request</p>
                    <div class="cancelFriendRequest">
                        <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                          fill="currentColor" />
                        </svg>
                    </div>
                </button>
            }
        }
        
    </div>
</div>